@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

.slider {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 630px;
  width: 100%;
}

.slider-item {
  width: 100%;
}

.slider-item.active {
  width: 100%;
}

.slider-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-btn {
  position: absolute;
  background: #ec5a44;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  border-radius: 4px;
}

.slider-btn.next {
  right: 10px;
}

.slider-btn.prev {
  left: 10px;
}

.slider-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  width: 50%;
}

@media (max-width: 1299px) {
  .slider-content {
    width: 80%;
  }
  .slider-content h3 {
    font-size: 40px;
  }
  .slider-content p {
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }
  .slider {
    height: 500px;
  }
}

@media (max-width: 992px) {
  .slider-content h3 {
    font-size: 30px;
  }
  .slider-content p {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 767px) {
  .slider-content {
    width: 90%;
  }
  .slider-content h3 {
    font-size: 25px;
  }
  .slider-content p {
    font-size: 16px;
    line-height: 22px;
  }
  .slider-content a {
    font-size: 13px;
  }
  .slider {
    height: 300px;
  }
}

.hover-effect {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
